.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  margin: auto;
  background: white;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
  text-align: center;
  margin: auto;
}

.App {
  text-align: center;
  background-color: black;
}




.like-button-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 20px;
}
.like-button {
   background-color: Transparent;
   padding: none;
   border: none;
   cursor: pointer;
   overflow: hidden;
   font-size: larger;
   font-weight: bolder;

}
.like-button:hover {
   color: #fff;
   background-color: #333;
}
.like-button.liked {
   color: #ff69b4;
   border-color: #ff69b4;
}
/* For mobile screens */
@media (max-width: 768px) {
   .like-button-container {
      flex-direction: column;
   }
} 




.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}
